@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

.font-fredoka {
  font-family: var(--font-fredoka), cursive;
}

.text-outline {
  color: white;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar{
    display: none; 
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .text-sticker {
  color: white;
  /* Thick black borders that don't overlap inside the letters */
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0px  4px 0px rgba(0,0,0,0.2); /* Adds that slight 'pop' off the card */
}

}
